spring:
    datasource:
        password: 123
        url: jdbc:postgresql://localhost:5432/infodb
        username: postgres
    jpa:
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect
                jdbc:
                    lob:
                        non_contextual_creation: true
server:
    error:
        include-message: always
